.advantages {
  .align-center;
  width: 280px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.advantages__title {
  margin-bottom: 4px;
}

.advantages__moto {
  margin-bottom: 36px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  text-align: center;
}

.advantages__item:not(:last-of-type) {
  margin-bottom: 32px;
}

.advantages__icon {
  display: inline-block;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__icon--speed {
  width: 50px;
  background-image: url("../img/icon-speed.svg");
  background-size: 50px 56px;
}

.advantages__icon--comfort {
  width: 52px;
  background-image: url("../img/icon-comfort.svg");
  background-size: 52px 56px;
}

.advantages__icon--energy {
  width: 42px;
  background-image: url("../img/icon-energy.svg");
  background-size: 42px 56px;
}

.advantages__icon--ecology {
  width: 52px;
  background-image: url("../img/icon-ecology.svg");
  background-size: 52px 56px;
}

.advantages__subtitle {
  font-size: 18px;
  line-height: 32px;
}
