.main-catalog {
  background-color: #f8f8f8;
}

.main-catalog__container {
  .align-center;
  width: 280px;
  padding-top: 50px;
  padding-bottom: 44px;
}

.main-catalog__title {
  margin-bottom: 4px;
}

.main-catalog__subtitle {
  margin-bottom: 20px;
}

.main-catalog__filters {
  padding-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .main-catalog__container {
    width: 728px;
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .main-catalog__filters {
    padding-bottom: 41px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog__container {
    width: 1360px;
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .main-catalog__container-inner {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 32px;
  }

  .main-catalog__subtitle {
    margin-bottom: 38px;
  }
}
