.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 180px;
  z-index: 5;
}

.main-nav__toggle {
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main-nav__toggle:hover,
.main-nav__toggle:focus {
  opacity: 0.8;
  outline: none;
}

.main-nav__toggle:active {
  background-color: @secondary;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-hamburger.svg");
  background-size: 16px 12px;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-cross.svg");
  background-size: 12px 12px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: calc((100% - 320px) / 2);
  top: 0;
}

@media (min-width: @tablet-width) {
  .main-nav {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__container {
    position: relative;
    right: auto;
  }
}
