.main-header {
  position: relative;
}

.main-header__container {
  .align-center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;
}

.main-header__logo-link {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.main-header__logo-link svg {
  width: 32px;
  height: 36px;
}

.main-header__logo-image--desktop {
  display: none;
}

.main-header__logo-image--tablet {
  display: none;
}

.main-header__logo-link:hover {
  opacity: 0.8;
}

.main-header__logo-link:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .main-header {
    .align-center;
    display: flex;
    justify-content: space-between;
    width: 728px;
  }

  .main-header__container {
    margin: 0;
    width: auto;
  }

  .main-header__logo-link svg {
    width: 82px;
  }

  .main-header__logo-image--mobile {
    display: none;
  }

  .main-header__logo-image--tablet {
    display: block;
  }
}
