.product-cards {
  display: flex;
  flex-direction: column;
}

.product-cards__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 12px;
}

.product-cards__select-title {
  .montserrat-600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.product-cards__select-control { /* stylelint-disable-line */
  box-sizing: border-box;
  .montserrat-600;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
  background: none;
  border: none;
  color: @primary;
  cursor: pointer;
  padding: 4px 0;
  /* stylelint-disable-next-line */
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 156px center;
  width: 172px;
  text-align: center;
}

.product-cards__select-control:focus,
.product-cards__select-control:hover {
  background-color: @secondary;
  outline: none;
}

.product-cards__select-control:active {
  background-image: url("../img/icon-arrow-up.svg");
}

.product-cards__select-option {
  background-color: @white;
  color: @black;
}

.product-cards__select-option:checked {
  background-color: @primary;
  color: @white;
}

.product-cards__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.product-cards__item:not(:last-of-type) {
  margin-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .product-cards__select {
    justify-content: right;
    padding-bottom: 25px;
  }

  .product-cards__select-control {
    min-width: 165px;
    padding-right: 14px;
    background-position: 149px center;
  }

  .product-cards__select-title {
    margin-right: 8px;
  }

  .product-cards__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding-bottom: 70px;
  }

  .product-cards__item:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .product-cards__list {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 60px;
  }

  .card:hover,
  .card:focus {
    box-shadow: 0 5px 15px #00000026;
  }
}
