.product-promo {
  background-color: #f3ebe1;
}

.product-promo__slider {
  width: 100%;
  height: 100%;
}

.product-promo__card--nojs {
  display: none;
}

.product-promo__card {
  .align-center;
  width: 280px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;
  display: block;
}

.product-promo__image {
  margin-bottom: 4px;
}

.product-promo__sticker {
  .montserrat-700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: @primary;
  margin-bottom: 4px;
  display: block;
  letter-spacing: 0.5px;
}

.product-promo__title {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.product-promo__title-white-space {
  display: none;
}

.product-promo__desription-white-space {
  display: inline;
}

.product-promo__desription {
  margin: 0 auto 20px;
}

.product-promo__desription br {
  display: none;
}

.product-promo__container {
  .align-center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 230px;
}

.product-promo__container-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-promo__old-price {
  font-size: 16px;
  line-height: 32px;
  color: @primary;
  text-decoration: line-through;
  margin-right: 10px;
}

.product-promo__new-price {
  .montserrat-600;
  font-size: 20px;
  line-height: 32px;
}

.product-promo__button {
  width: 114px;
  font-size: 16px;
  line-height: 24px;
}

.product-promo__slider-button-container {
  display: block;
  width: auto;
  height: 100%;
  margin-top: 0;
  top: 0;
}

.product-promo__slider-button {
  display: block;
  border: none;
  background: none;
  width: 20px;
  height: 100%;
  cursor: pointer;
  padding: 0;
}

.product-promo__slider-button::after {
  display: none;
}

.product-promo__slider-button--prev:hover,
.product-promo__slider-button--prev:focus {
  background: linear-gradient(90deg, #ffffff 0%, #ffffff00 100%);
}

.product-promo__slider-button--next:hover,
.product-promo__slider-button--next:focus {
  background: linear-gradient(90deg, #ffffff00 0%, #ffffff 100%);
}

.product-promo__slider-button--prev:active {
  background: linear-gradient(90deg, #7859cf40 0%, #7859cf00 100%);
}

.product-promo__slider-button--next:active {
  background: linear-gradient(90deg, #7859cf00 0%, #7859cf40 100%);
}

.product-promo__slider-button:disabled svg {
  fill: @grey;
}

.product-promo__pagination {
  display: none;
}

@media (min-width: @tablet-width) {
  .product-promo {
    min-height: 828px;
    background: linear-gradient(180deg, #f3ebe1 77%, @white 77%);
  }

  .product-promo__slider {
    min-height: inherit;
  }

  .product-promo__card {
    width: 728px;
    padding-top: 60px;
    padding-bottom: 308px;
  }

  .product-promo__button {
    width: auto;
    min-width: 114px;
    max-width: 200px;
  }

  .product-promo__image {
    margin: 0;
    position: absolute;
    width: 476px;
    height: 476px;
    left: 50%;
    bottom: -188px;
    transform: translate(-50%, 0);
  }

  .product-promo__title {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  .product-promo__title br {
    display: none;
  }

  .product-promo__desription-white-space {
    display: none;
  }

  .product-promo__title-white-space {
    display: inline;
  }

  .product-promo__desription {
    width: 608px;
    font-size: 20px;
    line-height: 32px;
  }

  .product-promo__desription br {
    display: block;
  }

  .product-promo__slider-button-container {
    height: 77%;
  }

  .product-promo__slider-button {
    width: 80px;
  }

  .product-promo__slider-button--prev {
    padding-right: 20px;
  }

  .product-promo__slider-button--next {
    padding-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .product-promo {
    min-height: auto;
    background: none;
    background-color: #f3ebe1;
  }

  .product-promo__slider {
    min-height: auto;
  }

  .product-promo__card {
    width: 1360px;
    padding: 180px 0 242px 695px;
    text-align: left;
    box-sizing: border-box;
  }

  .product-promo__image {
    width: 600px;
    height: 600px;
    left: 65px;
    top: 4%;
    transform: none;
  }

  .product-promo__title {
    text-align: left;
  }

  .product-promo__desription {
    margin: 0;
    margin-bottom: 40px;
    width: 625px;
  }

  .product-promo__container {
    .align-left;
  }

  .product-promo__slider-button-container,
  .product-promo__slider-button {
    height: 100%;
  }

  .product-promo__slider-button--prev {
    left: -40px;
  }

  .product-promo__slider-button--next {
    right: -40px;
  }

  .product-promo__pagination {
    display: block;
  }
}
