.select {
  display: none;
  opacity: 0;
  position: absolute;
  height: 1px;
  width: 1px;
}

.select-wrap {
  margin-left: auto;
  max-width: 280px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.custom-select {
  width: max-content;
  position: relative;
  border-radius: 4px;
}

.custom-select:focus,
.custom-select:hover {
  background-color: #f0ebff;
}

.custom-select__current {
  .montserrat-600;
  font-size: 16px;
  line-height: 24px;
  color: @primary;
  text-transform: lowercase;
  min-width: fit-content;
  max-width: 100%;
  padding: 4px 30px 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-select__current::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 10px;
  height: 6px;
  transform: translateY(-50%);
  background-image: url("../img/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 94% center;
}

.custom-select--show .custom-select__current::after {
  transform: rotate(-180deg);
  top: 40%;
}

.custom-select--show .custom-select__list {
  margin-top: 10px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.custom-select__list {
  width: max-content;
  position: absolute;
  right: 0;
  z-index: 2;
  overflow: hidden;
  border-radius: 4px;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.25s ease;
  max-width: 190px;
}

.custom-select__item {
  padding: 8px 15px 8px 20px;
  cursor: pointer;
  background-color: @white;
  border: none;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
}

.custom-select__item:not(:last-of-type) {
  border-bottom: 1px solid #f0ebff;
}

.custom-select__item:hover,
.custom-select__item:focus {
  background-color: #f0ebff;
}

.active,
.custom-select__item:active {
  background-color: @primary;
  color: @white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border: 2px solid #f8f9fa;
  background-color: #cccccc;
  border-radius: 10px;
}
