.social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  min-width: 160px;
}

.social-list__item:not(:first-of-type) {
  margin-left: 20px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social-list__link:hover,
.social-list__link:focus {
  outline: none;
  background-color: @secondary;
  border-radius: 4px;
}

.social-list__link:hover svg,
.social-list__link:focus svg {
  fill: @primary;
}

.social-list__link:active {
  background-color: #7859cf40;
}

.social-list__link:active svg {
  fill: @primary;
}

@media (min-width: @desktop-width) {
  .social-list {
    .align-left;
    justify-content: flex-start;
  }
}
